---
import ProjectCard from "../components/projects/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { db } from "../lib/database";

const title = `${db.name} ${db.surname} | Projects`;
const description = `Explore a curated collection of modern, scalable web applications developed by ${db.name} ${db.surname}, a ${db.profession}. This section showcases projects meticulously built with cutting-edge technologies including Next.js, React, TypeScript, and Spring Boot, highlighting expertise in full-stack development, secure authentication, SEO-optimized architectures, and high-performance UIs.`;
const ogTitle = `${db.name} ${db.surname} | Projects`;
---

<Layout pageTitle={title} pageDescription={description} ogTitle={ogTitle}>
  <main class="projects-page-container">
    <h1 class="sr-only">`${db.name} ${db.surname} Projects`</h1>
    <p class="sr-only">
      Here's a collection of my recent projects, showcasing my skills in web
      development and software engineering. Explore them to see my work!
    </p>

    <div class="project-list-grid">
      {
        db.projects.map((project, index) => (
          <ProjectCard project={project} index={index} />
        ))
      }
    </div>
  </main>

  <style>
    .projects-page-container {
      max-width: 1200px;
      margin: 250px auto;
      padding: 0 30px;
    }

    .project-list-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
    }

    @media (max-width: 1024px) {
      .projects-page-container {
        padding: 0 25px;
        margin: 50px auto;
      }
      .page-title {
        font-size: 2.8em;
      }
      .page-description {
        font-size: 1.2em;
        margin-bottom: 60px;
      }
    }

    @media (max-width: 768px) {
      .page-title {
        font-size: 2.2em;
        margin-bottom: 20px;
      }
      .page-description {
        font-size: 1.1em;
        margin-bottom: 50px;
      }
      .projects-page-container {
        padding: 0 20px;
      }
    }

    @media (max-width: 480px) {
      .page-title {
        font-size: 1.8em;
      }
      .page-description {
        font-size: 1em;
        margin-bottom: 40px;
      }
    }
  </style>
</Layout>
