---
import { Image } from "astro:assets";
import logo from "../../assets/paw-drawing-white.svg";
import phone from "../../assets/phone.svg";
import mail from "../../assets/mail.svg";
import atSign from "../../assets/at-sign.svg";
import awsLogo from "../../assets/aws-color.svg";
import resume from "../../assets/resume.svg";
import idCard from "../../assets/id-card.svg";
import { db } from "../../lib/database";
---

<div class="container">
  <div class="up-container">
    <div class="credentials">
      <h1>{`${db.name.toUpperCase()} ${db.surname.toUpperCase()}`}</h1>
      <h2>{db.profession.toUpperCase()}</h2>
    </div>
    <div class="logo-container">
      <Image src={logo} alt="logo" width={70} height={70} />
    </div>
  </div>

  <div class="down-container">
    <div class="contacts-container">
      <div class="contacts">
        <Image src={phone} alt="phone" width={20} height={20} />
        <a href={`tel:${db.phone}`}>{db.phone}</a>
      </div>
      <div class="contacts">
        <Image src={mail} alt="mail" width={20} height={20} />
        <a href={`mailto:${db.email}`}>{db.email}</a>
      </div>
      <div class="contacts">
        <Image src={atSign} alt="at-sign" width={20} height={20} />
        <a href={`https://${db.website}`} target="_blank">{db.website}</a>
      </div>
      <div class="contacts">
        <Image src={idCard} alt="id-card" width={20} height={20} />
        <p>{db.fiscalCode}</p>
      </div>
    </div>
    <div class="footer-container">
      <a href={db.resume} target="_blank" class="resume-link">
        <Image src={resume} alt="resume" width={100} height={50} />
      </a>
      <a href={db.certification} target="_blank" class="aws">
        <Image src={awsLogo} alt="aws-logo" width={50} height={50} />
        <p>Certified</p>
      </a>
    </div>
  </div>
</div>

<style>
  h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  h2 {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .container {
    margin: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .up-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .credentials {
    padding-top: 4rem;
    padding-left: 1rem;
  }

  .down-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .contacts {
    display: flex;
    gap: 0.5rem;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .aws {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }

  @media (max-width: 480px) {
    .container {
      margin: 0;
      padding: 0.75rem;
    }

    .up-container,
    .down-container {
      position: static;
    }

    .credentials {
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: 0;
    }

    .logo-container {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    .contacts-container {
      position: absolute;
      top: 5rem;
      left: 1rem;
      gap: 0.5rem;
    }

    .footer-container {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      gap: 1rem;
      align-items: center;
    }

    h1 {
      font-size: 1rem;
    }

    h2 {
      font-size: 0.75rem;
      font-weight: 300;
    }

    .logo-container,
    .logo-container :global(img) {
      width: 50px;
      height: 50px;
    }

    .contacts {
      gap: 0.75rem;
      align-items: center;
    }

    .contacts :global(img) {
      width: 16px;
      height: 16px;
    }

    .contacts a {
      font-size: 0.75rem;
    }

    .contacts p {
      font-size: 0.75rem;
    }

    .resume-link :global(img) {
      vertical-align: middle;
      width: 70px;
      height: 35px;
    }

    .aws {
      gap: 0.1rem;
    }

    .aws p {
      font-size: 0.75rem;
    }

    .aws :global(img) {
      width: 50px;
      height: 30px;
    }
  }
</style>
